body {
    height: 100%;
    max-height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    color: #24292e;
    background-color: #F5F5F5;
}

.home {
    width: 90%;
}
.banner {
    margin: 10px 0px 30px 0px;
}

.banner-content {
    padding: 20px 0;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFF000;
}

.blog-logo {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #D6EDFF;
}

.blog-title {
    letter-spacing: -1px;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-description {
    font-weight: normal;
    text-transform: lowercase;
}

.content {
    width: 70%;
    float: right;
}

.sidebar {
    width: 25%;
    float: left;
    ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
    }
}



@media (max-width: 768px) {
    .content,
    .sidebar {
        width: auto;
        float: none;
    }
}
